.header {
    background-color: rgb(185, 180, 135);
    padding: 20px;
    text-align: center;
  }
  
.navigation {
    overflow: hidden;
    background-color: #333;
}

.navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    /* timto nastavujeme layout vsem potomkum */
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.hours {
    text-align: center;
    background-color: rgb(214, 197, 40);
    padding: 5px
}

.provozovny {
    background-color: rgb(185, 180, 135);
    padding: 5px
}

.column.mid {
    width: 70%;
}

img {
    /* kombinaci margin+display centrujeme obrazek na stred */
    margin: auto;
    display: block;
    width: 350px
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.nobullets {
    margin: 0;
    padding: 0;
}

.nobullets li {
    list-style-type: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 0px;
}

th { 
    border: 2px solid black;
    text-align: left;
}