table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 0px;
}

th {
    
}

/* element < třída < id < inline */

.doprava {
    text-align: right;
}

.cervene {
    background-color: red;
}

/* ID = maintitle */

#maintitle {
    font-size: 25px;
}

/* pseudotřídy */
a:hover {
    background-color: grey;
}

.info {
    margin: 15px;
    padding: 40px;
    border: solid 2px black;
}