button:hover {
    background-color: red;
    font-size: large;
}

h1 {
    text-align: center;
}

/**
.legendRoot li {
   list-style-type: lower-roman;
}


.legendRoot ul li {
    list-style-type: disc;
}
*/

.roman {
    list-style-type: lower-roman;
}

.disc {
    list-style-type: disc;
}